h1{
    text-align: center;
}
#what{
    text-align: left;
    background-color: deeppink;
    border:2px solid;
    border-radius: 10px;
    border-color: gold;
}
h2{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
h3{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#why{
    text-align: left;
    background-color: deepskyblue;
    border:2px solid;
    border-radius: 10px;
    border-color: gold;
}
img{
    width:300px;
    height:300px;
    border:2px solid;
    border-radius: 10px;
    border-color: gold;
}
#my{
    text-align: center;
}
body{
    background-color:yellowgreen;
    color:white;
    font-family:cursive;
}
#top:hover{
background-color: orange;
font-size: 25px;
text-decoration: pink;
}
#a{
    text-align: left;
    margin-left: 10px;
}
#top{
    background-color:deeppink;
    border:0px;
    color:white;
    font-family: cursive;
    font-size: 23px;
   position: sticky;
   
    
}
#tab{
    background-color: deeppink;
    height:35px;
}
#next{
    background-color: gold;
    bor
}